<div style="margin-right:auto; margin-left: 200px;">
  <%= form_for(@page) do |f| %>
  <% if @page.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(page.errors.count, "error") %> prohibited this page from being saved:</h2>

      <ul>
      <% page.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :page_name %>
    <%= f.text_field :page_name %>
  </div>

  <div class="field">
    <%= f.label :page_body  %>
    <%= f.text_area :page_body %>
  </div>

  <div class="field">
    <%= f.label :user_id %>
    <%= f.text_field :user_id %>
  </div>

  <div class="field">
    <%= f.label :template_id %>
    <%= f.text_field :template_id %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
</div>
