<script>
  $(document).ready(function(){
    $('#btn-fullscreen').click(function() {
      console.log("haha");
      $('#fullscreen').fullscreen();
      return false;
    });
    // exit fullscreen
    $('#fullscreen .exitfullscreen').click(function() {
      $.fullscreen.exit();
      return false;
    });
  })
</script>


  <p id="notice"><%= notice %></p>
    <div class="container pad-top">
      <div class="row">
        <div class="col-md-2">
          <strong>Page name:</strong>
          <p><%= @page.page_name %></p>
        </div>
        <div class:"col-md-8">
          <%= image_tag @page.image, class:" img-responsive img-thumbnail" %>
        </div>
      </div>

      <div id="fullscreen">
          <%= raw(@page.page_body) %>
      </div>

      <div class="clearfix"></div>
      <br>
      <div>
         <button id="btn-fullscreen" class="btn btn-default btn-lg"> full screen</button>
      </div>
      <div>
        <%= link_to 'Edit', edit_page_path(@page) %> |
        <%= link_to 'Back', pages_path %>
      </div>
    </div>
